html {
    background-color: white;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;

}

header {
    height: 150px;
}

.kanji {
    display: inline-block;
    background-image: url("manga.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 250px;
}




  

  
